
<%if @player1%>
  <div class="row"> 
    <h1>Player 1: <%=@p1_username%></h1>
    <a href="/" class= 'button'>HOME</a>
    <a href="/game/<%=params[:game_id]%>/play/rock" class="large-4 columns button rock">ROCK</a>
    <a href="/game/<%=params[:game_id]%>/play/paper" class="large-4 columns button paper">PAPER</a>
    <a href="/game/<%=params[:game_id]%>/play/scissors" class="large-4 columns button scissors">SCISSOR</a>
  </div> 
  <div class="row">
    <div class="large-centered large-8 columns">
      <h1>Player 2: <%=@p2_username%></h1>
    </div>
  </div>
<%else%>
  <div class="row">
    <div class="large-centered large-8 columns">
      <h1><%=@p1_username%></h1>
    </div>
  </div>
  <div class="row"> 
    <h1><%=@p2_username%></h1>
    <a href="/game/<%=params[:game_id]%>/play/rock" class="large-4 columns button rock">ROCK</a>
    <a href="/game/<%=params[:game_id]%>/play/paper" class="large-4 columns button paper">PAPER</a>
    <a href="/game/<%=params[:game_id]%>/play/scissors" class="large-4 columns button scissors">SCISSOR</a>
  </div>
<%end%>